{% extends 'base.html.twig' %}

{% block title %}Start Timer{% endblock %}

{% block head %} {% endblock %}

{% block body %}
    {% include 'layout/navbar.html.twig'%}

<!--
<div class="example-wrapper">
    <ul>
        <li>temps globale du {{ project.name }} : {{ projectTime }} [JOUR:HEUR:MINUTE:SECONDE]</li>
        <li>temps passé par la {{ team.name }} sur le {{ project.name }}: {{ projectTeamTime }} [JOUR:HEUR:MINUTE:SECONDE]</li>
        <li>temps passé par {{ user.firstName }} {{ user.lastName }} sur le {{ project.name }}: {{ projectUserTime }} [JOUR:HEUR:MINUTE:SECONDE]</li>
    </ul>
    <a href="{{ path('timer-start',{idTeam: team.id, idProject: project.id}) }}">Démarrer un nouveau timer</a>
</div>
-->

<div class = "container">

    <table class = "table table-bordered" style = "text-align:center; margin-top:100px;">
        <thead class="thead-dark">
            <tr>
                <th colspan="2" style="font-size: 20px;">Récapitulatif du temps passé sur le projet "{{ project.name }}"</th>
            </tr>
            <tr>
                <td>Votre temps passé sur le projet</td>
                <td> {{ projectUserTime }} </td>
            </tr>
            <tr>
                <td>Temps passé par le groupe {{ team.name }}</td>
                <td> {{ projectTeamTime }} </td>
            </tr>
            <tr style="background-color: yellow;">
                <td><strong>Temps Global</strong></td>
                <td><strong>{{ projectTime }}</strong></td>
            </tr>
    </table>
    <br>
    <div class="start">
        <a href="{{ path('timer-start',{idTeam: team.id, idProject: project.id}) }}" class="btn btn-success btn-start">
            <i class="fa fa-play" aria-hidden="true"></i>  Démarrer un nouveau timer
        </a>
    </div>

</div>

{% endblock %}
